<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InternEase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
            <ul class="nav-list">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('internships') }}">Internships</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('login')}}">Login</a> </li>
            </ul>
            <div class="profile-icon">
                <a href="{{ url_for('profile') }}"><i class="fas fa-user"></i></a>
            </div>
        </nav>          
    </header>
<main>
    <h2>Apply for {{ internship.title }}</h2>
    <p>Company: {{ internship.company }}</p>
    <p>Location: {{ internship.location }}</p>
    <p>Duration: {{ internship.duration }}</p>
    <p>Description: {{ internship.description }}</p>
    <form action="{{ url_for('apply', internship_id=internship.id) }}" method="post">
        <button type="submit">Apply</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</main>

    <footer class="footer">
        <p>&copy; 2023 InternEase. All rights reserved.</p>
    </footer>
</body>
</html>