<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InternEase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.menu-toggle').click(function() {
        $('nav ul').toggleClass('active');
      });
    });
  </script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
            <ul class="nav-list">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('internships') }}">Internships</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('login')}}">Login</a> </li>
            </ul>
            <div class="profile-icon">
                <a href="{{ url_for('profile') }}"><i class="fas fa-user"></i></a>
            </div>
        </nav>              
    </header>
    <main>
        <!-- Add your content here -->
        <section>
          <div class="box">
            <H2 style="color: aliceblue;">Hello</H2>
          </div>
        </section>
    </main>
    <footer class="footer">
        <p>&copy; 2023 InternEase. All rights reserved.</p>
    </footer>
</body>
</html>